In [1]:
import numpy as np
import pandas as pd

In [2]:
dict = {
    'Name': 'John',
    'Sex': 'male'
}

In [3]:
df = pd.Series(dict)

In [4]:
df

Name    John
Sex     male
dtype: object

In [6]:
array = np.array(['John', 'male', 22])

In [7]:
array

array(['John', 'male', '22'], dtype='<U4')

In [8]:
df = pd.Series(array, index=['Name', 'Sex', 'age'])

In [9]:
df

Name    John
Sex     male
age       22
dtype: object

In [10]:
ndarray = np.arange(10).reshape(2, 5)

In [11]:
pd.DataFrame(ndarray, columns=['a', 'b', 'c', 'd', 'e'])

   a  b  c  d  e
0  0  1  2  3  4
1  5  6  7  8  9

### csvの読み込み

In [52]:
df = pd.read_csv('dataset/tmdb_5000_movies.csv')

In [14]:
#pd.set_option('display.max_columns', None)

In [10]:
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [11]:
df.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,4.803000e+03,4803.000000,4803.000000,4.803000e+03,4801.000000,4803.000000,4803.000000
mean,2.904504e+07,57165.484281,21.492301,8.226064e+07,106.875859,6.092172,690.217989
std,4.072239e+07,88694.614033,31.816650,1.628571e+08,22.611935,1.194612,1234.585891
min,0.000000e+00,5.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,7.900000e+05,9014.500000,4.668070,0.000000e+00,94.000000,5.600000,54.000000
50%,1.500000e+07,14629.000000,12.921594,1.917000e+07,103.000000,6.200000,235.000000
75%,4.000000e+07,58610.500000,28.313505,9.291719e+07,118.000000,6.800000,737.000000
max,3.800000e+08,459488.000000,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

In [17]:
df[(df['original_language'] == 'ja') & (df['vote_average'] > 8)].describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,4.000000e+00,4.000000,4.000000,4.000000e+00,4.00000,4.000,4.000000
mean,1.687500e+07,1384.500000,67.252008,1.673207e+08,146.25000,8.225,2173.000000
std,1.107832e+07,2369.219632,35.526768,1.212278e+08,40.96645,0.050,1228.160956
min,2.000000e+06,128.000000,39.756748,2.718410e+05,119.00000,8.200,878.000000
25%,1.175000e+07,128.750000,47.101675,1.195994e+08,123.50000,8.200,1706.750000
50%,1.950000e+07,237.500000,55.141361,1.970429e+08,129.50000,8.200,1987.000000
75%,2.462500e+07,1493.250000,75.291694,2.447641e+08,152.25000,8.225,2453.250000
max,2.650000e+07,4935.000000,118.968562,2.749251e+08,207.00000,8.300,3840.000000

In [20]:
df[(df['budget'] == 0) | (df['revenue'] == 0)].head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
83,27000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",NaN,79698,[],en,The Lovers,The Lovers is an epic romance time travel adve...,2.418535,"[{""name"": ""Corsan"", ""id"": 7299}, {""name"": ""Bli...","[{""iso_3166_1"": ""AU"", ""name"": ""Australia""}, {""...",2015-02-13,0,109.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Love is longer than life.,The Lovers,4.8,34
135,150000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 27, ""name...",http://www.thewolfmanmovie.com/,7978,"[{""id"": 494, ""name"": ""father son relationship""...",en,The Wolfman,"Lawrence Talbot, an American man on a visit to...",21.214571,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2010-02-11,0,102.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,When the moon is full the legend comes to life,The Wolfman,5.5,549
265,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 14, ""nam...",NaN,10588,"[{""id"": 977, ""name"": ""cat""}, {""id"": 1155, ""nam...",en,The Cat in the Hat,Conrad and Sally Walden are home alone with th...,18.251129,"[{""name"": ""Imagine Entertainment"", ""id"": 23}, ...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2003-11-21,0,82.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Don't mess with the hat.,The Cat in the Hat,4.9,366
309,84000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 35, ""na...",NaN,10214,"[{""id"": 1009, ""name"": ""baby""}, {""id"": 2546, ""n...",en,Son of the Mask,"Tim Avery, an aspiring cartoonist, finds himse...",17.815595,"[{""name"": ""New Line Cinema"", ""id"": 12}, {""name...","[{""iso_3166_1"": ""DE"", ""name"": ""Germany""}, {""is...",2005-02-18,0,94.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Who's next?,Son of the Mask,3.6,338
321,0,"[{""id"": 35, ""name"": ""Comedy""}]",NaN,77953,"[{""id"": 6078, ""name"": ""politics""}, {""id"": 6083...",en,The Campaign,Two rival politicians compete to win an electi...,16.460356,"[{""name"": ""Everyman Pictures"", ""id"": 2242}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-08-09,104907746,85.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,May The Best Loser Win.,The Campaign,5.6,578

In [24]:
df = df[df['original_language'] == 'ja']

In [27]:
df.reset_index(drop=True)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,15000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",NaN,315011,"[{""id"": 1299, ""name"": ""monster""}, {""id"": 7671,...",ja,シン・ゴジラ,From the mind behind Evangelion comes a hit la...,9.476999,"[{""name"": ""Cine Bazar"", ""id"": 5896}, {""name"": ...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2016-07-29,77000000,120.0,"[{""iso_639_1"": ""it"", ""name"": ""Italiano""}, {""is...",Released,A god incarnate. A city doomed.,Shin Godzilla,6.5,143
1,41677699,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",NaN,12429,"[{""id"": 456, ""name"": ""mother""}, {""id"": 1357, ""...",ja,崖の上のポニョ,"The son of a sailor, 5-year old Sosuke lives a...",39.586760,"[{""name"": ""Studio Ghibli"", ""id"": 10342}, {""nam...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2008-07-19,187479518,100.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,Welcome To A World Where Anything Is Possible.,Ponyo,7.5,926
2,30000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 878, ...",NaN,192577,[],ja,キャプテンハーロック,Space Pirate Captain Harlock and his fearless ...,14.726338,"[{""name"": ""Toei Animation Company"", ""id"": 3116}]","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2013-09-07,17137302,115.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,NaN,Space Pirate Captain Harlock,6.5,356
3,24000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 16, ""na...",NaN,4935,"[{""id"": 334, ""name"": ""flying""}, {""id"": 616, ""n...",ja,ハウルの動く城,"When Sophie, a shy young woman, is cursed with...",49.549984,"[{""name"": ""Studio Ghibli"", ""id"": 10342}, {""nam...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2004-11-19,234710455,119.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The two lived there,Howl's Moving Castle,8.2,1991
4,26500000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",NaN,128,"[{""id"": 1721, ""name"": ""fight""}, {""id"": 1994, ""...",ja,もののけ姫,"Ashitaka, a prince of the disappearing Ainu tr...",60.732738,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1997-07-12,159375308,134.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The Fate Of The World Rests On The Courage Of ...,Princess Mononoke,8.2,1983
5,20000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 14, ""...",NaN,8953,"[{""id"": 392, ""name"": ""england""}, {""id"": 1436, ...",ja,Steamboy,After receiving a package from his Grandfather...,9.129808,"[{""name"": ""Bandai Visual Company"", ""id"": 528},...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2004-07-17,0,126.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,He will save the future.,Steamboy,6.4,102
6,15000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 12, ""na...",http://movies.disney.com/spirited-away,129,"[{""id"": 616, ""name"": ""witch""}, {""id"": 970, ""na...",ja,千と千尋の神隠し,A ten year old girl who wanders away from her ...,118.968562,"[{""name"": ""Studio Ghibli"", ""id"": 10342}]","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2001-07-20,274925095,125.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The tunnel led Chihiro to a mysterious town...,Spirited Away,8.3,3840
7,12000000,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 18, ""name...",http://www.office-kitano.co.jp/brother/index.html,327,"[{""id"": 380, ""name"": ""brother brother relation...",ja,Brother,A Japanese Yakuza gangster’s deadly existence ...,5.327714,"[{""name"": ""Bandai Visual Company"", ""id"": 528},...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2000-09-09,15250000,114.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Are You Japanese?,Brother,6.8,107
8,12000000,"[{""id"": 878, ""name"": ""Science Fiction""}]",NaN,61984,[],ja,Space Battleship Yamato,"In 2199, five years after the Gamilons began a...",5.158067,"[{""name"": ""Tokyo Broadcasting System (TBS)"", ""...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2010-12-01,11212294,131.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,NaN,Space Battleship Yamato,6.3,59
9,0,"[{""id"": 18, ""name"": ""Drama""}]",NaN,13889,[],ja,まあだだよ,This film tells the story of professor Uehida ...,2.930853,"[{""name"": ""Tokuma Shoten"", ""id"": 1779}, {""name...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1993-04-17,0,134.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Madadayo,7.5,20
10,8000000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://www.bandaivisual.co.jp/akira/,149,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",ja,アキラ,Childhood friends Tetsuo and Kaneda are pulled...,39.338097,"[{""name"": ""Bandai Visual Company"", ""id"": 528},...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1988-07-16,553171,124.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,Neo-Tokyo is about to E.X.P.L.O.D.E.,Akira,7.8,773
11,5500000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.r-100.com/,193722,"[{""id"": 7089, ""name"": ""dominatrix""}, {""id"": 15...",ja,R100,Ruthless dominatrixes pursue a mild-mannered s...,3.213920,"[{""name"": ""Warner Bros."", ""id"": 6194}, {""name""...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2013-10-05,0,100.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,M For Father,R100,5.4,31
12,16000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://movies.warnerbros.com/pk3/,10991,"[{""id"": 1262, ""name"": ""mountains""}, {""id"": 280...",ja,Pokémon 3: The Movie,When Molly Hale's sadness of her father's disa...,9.188850,"[{""name"": ""TV Tokyo"", ""id"": 3034}, {""name"": ""4...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2000-07-08,68411275,93.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Pokémon: Spell of the Unknown,Pokémon: Spell of the Unknown,5.9,137
13,1000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 27, ""...",NaN,10643,"[{""id"": 233, ""name"": ""japan""}, {""id"": 1299, ""n...",ja,Gojira ni-sen mireniamu,Godzilla saves Tokyo from a flying saucer that...,3.322721,"[{""name"": ""Toho Film (Eiga) Co. Ltd."", ""id"": 6...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1999-12-11,10037390,107.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,Get ready to crumble.,Godzilla 2000,5.9,43
14,2000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 18, ""nam...",NaN,346,"[{""id"": 233, ""name"": ""japan""}, {""id"": 1462, ""n...",ja,七人の侍,A samurai answers a village's request for prot...,39.756748,"[{""name"": ""Toho Company"", ""id"": 882}]","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1954-04-26,271841,207.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The Mighty Warriors Who Became the Seven Natio...,Seven Samurai,8.2,878
15,20000,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 27, ""name...",NaN,36095,"[{""id"": 233, ""name"": ""japan""}, {""id"": 549, ""na...",ja,キュア,A wave of gruesome murders is sweeping Tokyo. ...,0.212443,"[{""name"": ""Daiei Studios"", ""id"": 881}]","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1997-11-06,99000,111.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,Madness. Terror. Murder.,Cure,7.4,63

In [39]:
df = pd.read_csv('dataset/tmdb_5000_movies.csv')

In [41]:
df['runtime'].mean()

106.87585919600083

In [44]:
df['runtime'] = df['runtime'].fillna(df['runtime'].mean())

In [46]:
np.isnan(df['runtime'])

0       False
1       False
2       False
3       False
4       False
        ...
4798    False
4799    False
4800    False
4801    False
4802    False
Name: runtime, Length: 4803, dtype: bool

### groupby

In [58]:
df[df['budget'] != 0].groupby('original_language').mean()

,budget,id,popularity,revenue,runtime,vote_average,vote_count
original_language,,,,,,,
af,3.000000e+06,868.000000,2.504169,9.879971e+06,94.000000,6.900000,94.000000
cn,1.838814e+07,107731.857143,11.497406,4.497195e+07,108.142857,6.642857,256.428571
da,1.136667e+07,31008.333333,20.070381,3.488204e+07,120.666667,7.016667,514.666667
de,1.454010e+07,69160.437500,14.612254,2.339749e+07,115.000000,6.725000,380.187500
en,3.820497e+07,49290.748047,26.549415,1.077954e+08,109.029026,6.200837,881.667690
es,7.796911e+06,76973.416667,15.157834,2.101711e+07,108.875000,6.645833,346.583333
fa,4.900000e+05,40788.500000,9.560745,4.500000e+05,106.000000,7.750000,290.500000
fr,1.522230e+07,54263.410256,13.577175,2.110555e+07,107.538462,6.743590,315.051282
he,2.000000e+06,8885.000000,14.082510,1.112585e+07,90.000000,7.800000,291.000000
hi,3.622222e+06,119237.555556,3.958068,1.563849e+07,152.444444,6.644444,66.333333
id,1.050000e+06,109003.500000,24.586253,2.274881e+06,108.000000,7.400000,632.500000
is,1.000000e+01,217708.000000,1.617943,1.100000e+01,85.000000,6.900000,26.000000
it,5.193754e+06,77103.625000,28.810470,5.301614e+06,124.571429,7.375000,674.875000
ja,1.524651e+07,56561.266667,27.179317,7.043084e+07,121.733333,7.020000,762.133333
ko,2.245714e+07,27214.285714,24.651664,3.644537e+07,120.000000,6.514286,815.571429
nb,3.500000e+06,46146.000000,12.982319,4.159678e+06,103.000000,6.700000,583.000000
nl,9.833333e+06,14259.333333,6.310628,8.907705e+06,123.333333,7.233333,122.666667
no,8.000000e+05,14451.000000,11.205726,1.984662e+06,91.000000,6.100000,311.000000
pl,2.159280e+06,209274.000000,13.265432,1.070000e+07,80.000000,7.100000,260.000000
ps,4.600000e+04,14757.000000,1.447734,0.000000e+00,83.000000,6.300000,32.000000
pt,3.400000e+06,2870.333333,24.630195,1.207949e+07,119.333333,7.833333,814.666667
ro,8.525100e+05,2009.000000,9.270133,1.185783e+06,113.000000,7.300000,156.000000
ru,1.921250e+07,115048.875000,6.186488,1.257163e+07,111.500000,5.937500,70.875000
sv,2.500000e+07,13491.000000,6.091033,0.000000e+00,139.000000,6.400000,76.000000
te,4.000000e+07,256040.000000,16.254032,1.000000e+08,159.000000,7.500000,135.000000
th,7.250000e+06,12667.500000,10.423904,1.805112e+07,103.000000,6.400000,159.500000
tr,1.000000e+07,11818.000000,1.465762,0.000000e+00,122.000000,4.300000,7.000000
vi,1.300000e+06,25784.000000,0.072066,6.390000e+05,135.000000,5.000000,1.000000
xx,1.200000e+07,62204.000000,6.537986,5.526056e+07,100.000000,7.100000,109.000000
zh,3.303840e+07,94084.666667,11.246990,5.744336e+07,120.000000,6.416667,185.388889

In [61]:
df[df['budget'] == 0].groupby('original_language').count()['budget']

original_language
ar      2
cn      5
cs      2
da      1
de     11
el      1
en    921
es      8
fa      2
fr     31
he      2
hi     10
hu      1
it      6
ja      1
ko      4
ky      1
nl      1
pt      6
ro      1
ru      3
sl      1
sv      4
ta      2
th      1
zh      9
Name: budget, dtype: int64

In [68]:
df.iloc[df.groupby('original_language')['revenue'].idxmax()['en']]

budget                                                          237000000
genres                  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
homepage                                      http://www.avatarmovie.com/
id                                                                  19995
keywords                [{"id": 1463, "name": "culture clash"}, {"id":...
original_language                                                      en
original_title                                                     Avatar
overview                In the 22nd century, a paraplegic Marine is di...
popularity                                                        150.438
production_companies    [{"name": "Ingenious Film Partners", "id": 289...
production_countries    [{"iso_3166_1": "US", "name": "United States o...
release_date                                                   2009-12-10
revenue                                                        2787965087
runtime                                                               162
spoken_languages        [{"iso_639_1": "en", "name": "English"}, {"iso...
status                                                           Released
tagline                                       Enter the World of Pandora.
title                                                              Avatar
vote_average                                                          7.2
vote_count                                                          11800
Name: 0, dtype: object

### 結合

In [69]:
df_movies = pd.read_csv('dataset/tmdb_5000_movies.csv')
df_credits = pd.read_csv('dataset/tmdb_5000_credits.csv')

In [74]:
df_credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [73]:
df_movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [83]:
df = pd.merge(df_movies, df_credits, left_on='id', right_on='movie_id', suffixes=('_left', '_right'))

In [84]:
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,spoken_languages,status,tagline,title_left,vote_average,vote_count,movie_id,title_right,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [85]:
len(df)

4803

In [86]:
len(df_movies)

4803

In [87]:
len(df_credits)

4803

### 関数の適用

In [139]:
df = pd.read_csv('dataset/tmdb_5000_movies.csv')

In [104]:
x = lambda value: np.nan if value == 0 else value

In [102]:
return_nan_if_zero(1)

1

In [96]:
df['budget'] = df['budget'].apply(return_nan_if_zero)

In [115]:
df['budget'] = df['budget'].apply(lambda value: np.nan if value == 0 else value)

In [116]:
df['revenue'] = df['revenue'].apply(lambda value: np.nan if value == 0 else value)

In [117]:
df = df.dropna(subset=('budget', 'revenue'))

In [118]:
len(df)

3229

In [120]:
df['profit'] = df.apply(lambda row: row['revenue'] - row['budget'], axis=1)

<ipython-input-120-04c4ccb0041b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['profit'] = df.apply(lambda row: row['revenue'] - row['budget'], axis=1)

In [124]:
df.iloc[df['profit'].idxmax()]

budget                                                           2.37e+08
genres                  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
homepage                                      http://www.avatarmovie.com/
id                                                                  19995
keywords                [{"id": 1463, "name": "culture clash"}, {"id":...
original_language                                                      en
original_title                                                     Avatar
overview                In the 22nd century, a paraplegic Marine is di...
popularity                                                        150.438
production_companies    [{"name": "Ingenious Film Partners", "id": 289...
production_countries    [{"iso_3166_1": "US", "name": "United States o...
release_date                                                   2009-12-10
revenue                                                       2.78797e+09
runtime                                                               162
spoken_languages        [{"iso_639_1": "en", "name": "English"}, {"iso...
status                                                           Released
tagline                                       Enter the World of Pandora.
title                                                              Avatar
vote_average                                                          7.2
vote_count                                                          11800
profit                                                        2.55097e+09
Name: 0, dtype: object

In [125]:
df[df['profit'] == df['profit'].max()]

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,profit
0,237000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2009-12-10,2.787965e+09,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,2.550965e+09

In [132]:
it = df.iterrows()

In [136]:
a, b = next(it)

In [137]:
a

1

In [138]:
b

budget                                                              3e+08
genres                  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
homepage                     http://disney.go.com/disneypictures/pirates/
id                                                                    285
keywords                [{"id": 270, "name": "ocean"}, {"id": 726, "na...
original_language                                                      en
original_title                   Pirates of the Caribbean: At World's End
overview                Captain Barbossa, long believed to be dead, ha...
popularity                                                        139.083
production_companies    [{"name": "Walt Disney Pictures", "id": 2}, {"...
production_countries    [{"iso_3166_1": "US", "name": "United States o...
release_date                                                   2007-05-19
revenue                                                          9.61e+08
runtime                                                               169
spoken_languages                 [{"iso_639_1": "en", "name": "English"}]
status                                                           Released
tagline                    At the end of the world, the adventure begins.
title                            Pirates of the Caribbean: At World's End
vote_average                                                          6.9
vote_count                                                           4500
profit                                                           6.61e+08
Name: 1, dtype: object

In [141]:
for _, row in df.iterrows():
    if (row['vote_average'] == 10):
        print(row['title'])

Stiff Upper Lips
Dancer, Texas Pop. 81
Me You and Five Bucks
Little Big Top

### .pivot_table()

In [142]:
data = {'Date': ['Jan-1', 'Jan-1', 'Jan-1', 'Jan-2', 'Jan-2', 'Jan-2'],
        'User': ['Emily', 'John', 'Nick', 'Kevin', 'Emily', 'John'],
        'Method': ['Card', 'Card', 'Cash', 'Card', 'Cash', 'Cash'],
        'Price': [100, 250, 200, 460, 200, 130]}

In [143]:
df = pd.DataFrame(data)

In [144]:
df

    Date   User Method  Price
0  Jan-1  Emily   Card    100
1  Jan-1   John   Card    250
2  Jan-1   Nick   Cash    200
3  Jan-2  Kevin   Card    460
4  Jan-2  Emily   Cash    200
5  Jan-2   John   Cash    130

In [145]:
df.pivot_table(values='Price', index=['Date', 'User'], columns=['Method'])

Method        Card   Cash
Date  User
Jan-1 Emily  100.0    NaN
      John   250.0    NaN
      Nick     NaN  200.0
Jan-2 Emily    NaN  200.0
      John     NaN  130.0
      Kevin  460.0    NaN

In [147]:
privot_df = df.pivot_table(values='Price', index=['Date', 'Method'], columns=['User'])

In [149]:
privot_df.xs('Card', level='Method')

User   Emily   John  Kevin  Nick
Date
Jan-1  100.0  250.0    NaN   NaN
Jan-2    NaN    NaN  460.0   NaN

### csvで保存

In [150]:
df = pd.read_csv('dataset/tmdb_5000_movies.csv')

In [151]:
df['budget'] = df['budget'].apply(lambda x: np.nan if x == 0 else x)
df['revenue'] = df['revenue'].apply(lambda x: np.nan if x == 0 else x)

In [152]:
df = df.dropna(subset=('budget', 'revenue'))

In [154]:
df['profit'] = df.apply(lambda row: row['revenue'] - row['budget'], axis=1)

<ipython-input-154-04c4ccb0041b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['profit'] = df.apply(lambda row: row['revenue'] - row['budget'], axis=1)

In [157]:
df = df.sort_values('profit', ascending=False)

In [158]:
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,profit
0,237000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2009-12-10,2.787965e+09,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,2.550965e+09
25,200000000.0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",http://www.titanicmovie.com,597,"[{""id"": 2580, ""name"": ""shipwreck""}, {""id"": 298...",en,Titanic,"84 years later, a 101-year-old woman named Ros...",100.025899,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...",...,1997-11-18,1.845034e+09,194.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Nothing on Earth could come between them.,Titanic,7.5,7562,1.645034e+09
28,150000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.jurassicworld.com/,135397,"[{""id"": 1299, ""name"": ""monster""}, {""id"": 1718,...",en,Jurassic World,Twenty-two years after the events of Jurassic ...,418.708552,"[{""name"": ""Universal Studios"", ""id"": 13}, {""na...",...,2015-06-09,1.513529e+09,124.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The park is open.,Jurassic World,6.5,8662,1.363529e+09
44,190000000.0,"[{""id"": 28, ""name"": ""Action""}]",http://www.furious7.com/,168259,"[{""id"": 830, ""name"": ""car race""}, {""id"": 3428,...",en,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...,102.322217,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...",...,2015-04-01,1.506249e+09,137.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Vengeance Hits Home,Furious 7,7.3,4176,1.316249e+09
16,220000000.0,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://marvel.com/avengers_movie/,24428,"[{""id"": 242, ""name"": ""new york""}, {""id"": 5539,...",en,The Avengers,When an unexpected enemy emerges and threatens...,144.448633,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...",...,2012-04-25,1.519558e+09,143.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Some assembly required.,The Avengers,7.4,11776,1.299558e+09

In [162]:
df.to_csv('profit.csv', index=False)

In [163]:
updated = pd.read_csv('profit.csv')

In [164]:
updated

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,profit
0,237000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2009-12-10,2.787965e+09,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,2.550965e+09
1,200000000.0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",http://www.titanicmovie.com,597,"[{""id"": 2580, ""name"": ""shipwreck""}, {""id"": 298...",en,Titanic,"84 years later, a 101-year-old woman named Ros...",100.025899,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...",...,1997-11-18,1.845034e+09,194.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Nothing on Earth could come between them.,Titanic,7.5,7562,1.645034e+09
2,150000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.jurassicworld.com/,135397,"[{""id"": 1299, ""name"": ""monster""}, {""id"": 1718,...",en,Jurassic World,Twenty-two years after the events of Jurassic ...,418.708552,"[{""name"": ""Universal Studios"", ""id"": 13}, {""na...",...,2015-06-09,1.513529e+09,124.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The park is open.,Jurassic World,6.5,8662,1.363529e+09
3,190000000.0,"[{""id"": 28, ""name"": ""Action""}]",http://www.furious7.com/,168259,"[{""id"": 830, ""name"": ""car race""}, {""id"": 3428,...",en,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...,102.322217,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...",...,2015-04-01,1.506249e+09,137.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Vengeance Hits Home,Furious 7,7.3,4176,1.316249e+09
4,220000000.0,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://marvel.com/avengers_movie/,24428,"[{""id"": 242, ""name"": ""new york""}, {""id"": 5539,...",en,The Avengers,When an unexpected enemy emerges and threatens...,144.448633,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...",...,2012-04-25,1.519558e+09,143.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Some assembly required.,The Avengers,7.4,11776,1.299558e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3224,100000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 35, ""nam...",NaN,11692,"[{""id"": 305, ""name"": ""moon""}, {""id"": 585, ""nam...",en,The Adventures of Pluto Nash,"The year is 2087, the setting is the moon. Plu...",12.092241,"[{""name"": ""Village Roadshow Pictures"", ""id"": 7...",...,2002-08-15,7.103973e+06,95.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Action's future has arrived...,The Adventures of Pluto Nash,4.4,142,-9.289603e+07
3225,160000000.0,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",NaN,1911,"[{""id"": 616, ""name"": ""witch""}, {""id"": 1964, ""n...",en,The 13th Warrior,"In AD 922, Arab courtier, Ahmad Ibn Fadlan acc...",27.220157,"[{""name"": ""Touchstone Pictures"", ""id"": 9195}]",...,1999-08-27,6.169890e+07,102.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Prey for the living.,The 13th Warrior,6.4,510,-9.830110e+07
3226,150000000.0,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 16, ""...",http://disney.go.com/disneypictures/marsneedsm...,50321,"[{""id"": 5202, ""name"": ""boy""}, {""id"": 9951, ""na...",en,Mars Needs Moms,"When Martians suddenly abduct his mom, mischie...",12.362599,"[{""name"": ""Walt Disney Animation Studios"", ""id...",...,2011-03-09,3.899276e+07,88.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Mom needs a little space.,Mars Needs Moms,5.5,199,-1.110072e+08
3227,145000000.0,"[{""id"": 37, ""name"": ""Western""}, {""id"": 36, ""na...",NaN,10733,"[{""id"": 1556, ""name"": ""texas""}, {""id"": 3776, ""...",en,The Alamo,Based on the 1836 standoff between a group of ...,10.660441,"[{""name"": ""Imagine Entertainment"", ""id"": 23}, ...",...,2004-04-07,2.581996e+07,137.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,You will never forget,The Alamo,5.8,106,-1.191800e+08
3228,255000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://disney.go.com/the-lone-ranger/,57201,"[{""id"": 1556, ""name"": ""texas""}, {""id"": 2673, ""...",en,The Lone Ranger,The Texas Rangers chase down a gang of outlaws...,49.046956,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,2013-07-03,8.928991e+07,149.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Never Take Off the Mask,The Lone Ranger,5.9,2311,-1.657101e+08